/** 
  * styles.css
  * The stylesheet for the website. This was my first serious attempt at making a website
  * "Look good", and will be updated when I get more experience in CSS
  */


/* ===Globals=== */
*,
*::before,
*::after {
    box-sizing: inherit;

}
html {
    box-sizing: border-box;
    font-family: Ubuntu, Arial, Helvetica, sans-serif;
    background-color: #1C1E20;
    color: #c9c9c9;
    margin: 0px;
    padding: 0px;
}
body {
    margin: 0px;
    padding: 0px;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Ubuntu Mono',  monospace;
    font-weight: bold;
    padding-left: 1.5em;
    text-indent: -1.5em;

}

div {
    margin: 0px;
    padding: 0px;
}

section {
    margin: 0px;
    padding: 0px;
}




/* ===Header=== */
header {
    padding: 0px 20px;

    margin: 0px auto;
    max-width: 1200px;    
    height: 90vh;
    font-size: 1.25vw;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    flex-direction: column;
    
}

header h1 {
    display: inline-block;
}








/* ===Nav=== */
nav {
    height: 1em;
    min-height: 3.25em;
    margin: 0px;
    padding: 0px;
    background-color: #111;
}
nav ul {
    height: 100%;
    margin: 0px;
    padding: 0px;
    display: flex;
    flex-flow: row wrap;
    justify-content:  flex-end;
    align-content: center;
    align-items: center;
}

nav li {
    max-width: 120px;
    flex: 1;
    display: inline;
}

nav a {
    color: #c9c9c9;
    text-decoration: none;
}
nav a:hover {
    color: #ffffff;
}




/* ===Main Content=== */
article {
    padding: 0px 20px;
    margin: 0 auto;
    max-width: 1200px;
   /*  background-color: #101112; */
}

article h1 {
    padding-top: 2em;
    font-size: 3em;
    color: #ce537a;
}

article h2 {
    font-size: 2em;
    color: #4f97d7;
}

article h3 {
    font-size: 1.5em;
    color: #369465;
}

article h4 {
    color: #ebb300;
}
article p {
    margin: 0.5em 0em;
}

ol {
    list-style: disc
}


/* ===Project Section Styling=== */
.featured-projects {
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.featured-project {
    border: solid;
    height: 36em;
    width: 35em;
    margin: 30px 10px;
    border-radius: 3px;
    position: relative;
}

.featured-project img {
    width: 100%;    
}

.featured-projects p {
    height: 20%;
    padding: 20px;
}

.button-group {
    margin: 20px 10px;
    position: absolute;
    bottom: 0%;
}

.featured-projects button:disabled {
    opacity: 100%;
    background-color: #1C1E20;
    padding: 10px 20px;
    color: #ce537a;
    border: #ce537a solid;
    margin: 0px 5px;
    border-radius: 3px;
}

.other-projects {
    font-size: 1.125em
}


/* ===Flex content=== */

.subsection-box {
    margin-top: 0px;
}
.highlight-box {
    display: flex;
    justify-content: center;
    margin-top: 0px;
}

.highlight-section {
    flex-basis: 0;
    flex-grow: 1;
}
.flex-row {
    display: flex;
    justify-content: space-between;
}

#contact {
   font-size: 1.125rem;
}

#contact ul {
    list-style: none;
    font-size: 1.5rem;
}
#contact a {
    color: #fff
}

/* Colors */
.class {
    color: #4f97d7;
    
}
.keyword {
    color: #4f97d7;
}
.class-name {
    color: #ce537a;
    font-weight: bolder;
}
.comment {
    color: #369465;
}


footer {
    border-top: solid;
    margin-top: 50px;
    background-color: #111;
    height: 1em;
    min-height: 3.5em;
    text-align: center;
    padding: 20px;
}

/* ===Media Queries=== */

/* This ensures that the title size is capped to be a minimum of 20px */
@media screen and (max-width: 100em) {
    header {
        font-size: 20px;
    }
}

/* Small screens, around phone size */
@media screen and (max-width: 43em) {
    
    /* Stacks the title and tagline directly above / belowo each other*/
    header p {
        padding-left: 0em;
    }
    
    header h1 {
        padding-right: 0em;
    }
    
    .highlight-box {
        display: block;
    }
    
    .flex-row {
        display: block;
    }
}